.card {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
    width: 364px;
    height: 271px;
    background-color: #fff;
}

.card__container-text {
    max-width: 280px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.card__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.card__subtitle {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
}

.card__content {
    margin: 14px;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.card__save {
    border: none;
    background-color: #fff;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    background-image: url("../../image/save-deactive.png");
    cursor: pointer;
}

.card__delete {
    border: none;
    background-color: #fff;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    background-image: url("../../image/delete.png");
    cursor: pointer;
}

.card__save_active {
    background-image: url("../../image/save-active.png");
}

.card__image {
    width: 364px;
}
