.portfolio {
    padding: 0 70px;
    margin: 100px 0 125px 0;
}

.portfolio__title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    mix-blend-mode: normal;
    margin: 0;
}

.portfolio__container {
    margin: 50px 0 0 0;
}

.portfolio__link {
    display: flex;
    flex-flow: row nowrap;
    height: 50px;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    transition: .5s;
}
.portfolio__link:hover {
    opacity: .5;
}

.portfolio__link-text {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0;
    width: 100%;
}

.portfolio__link-image {
    height: 60px;
    width: 29px;
}

.portfolio__link_border {
    border-bottom: 1px solid #E8E8E8;
    border-top: 1px solid #E8E8E8;
    padding: 20px 0;
    margin: 20px 0;
}

@media screen and (max-width: 768px) {
    .portfolio {
        padding: 0 70px;
        margin: 90px 0 90px 0;
    }

    .portfolio__link-text {
        font-size: 28px;
        line-height: 50px;
    }
    .portfolio__link-image {
        width: 27px;
        height: 60px;
    }
}

@media screen and (max-width: 550px) {
 .portfolio {
     /*display: none;*/
 }
}

@media screen and (max-width: 320px) {
    .portfolio {
        padding: 0 14px;
        margin: 69px 0 70px 0;
    }

    .portfolio__link-text {
        font-size: 18px;
        line-height: 28px;
        justify-content: center;
    }
    .portfolio__link-image {
        width: 18px;
        height: 28px;
    }
    .portfolio__title {
        font-size: 14px;
        line-height: 20px;
    }
    .portfolio__link {
        align-items: center;
    }
}
