.promo {
    background-color: #F5F5F5;
    max-width: 1200px;
    border-radius: 10px;
    margin: 20px auto 0;
}

.promo__title {
    font-family: 'Inter', Arial sans-serif;
    font-size: 50px;
    line-height: 58px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    padding-top: 160px;
    max-width: 730px;
    margin: 0 auto;
    letter-spacing: -0.04em;
}

.promo__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.promo__about {
    font-family: 'Inter', Arial sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    background-color: #E8E8E8;
    width: 96px;
    height: 36px;
    border-radius: 10px;
    color: black;
    margin-bottom: 30px;
    margin-top: 151px;
    cursor: pointer;
    transition: .5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.promo__about:hover {
    opacity: .5;
}

.promo__about:first-child {
    margin-right: 10px;
}

.promo__about:last-child {
    margin-left: 10px;
}

@media screen and (max-width: 768px){
    .promo {
        max-width: 728px;
        border-radius: 10px;
        margin: 20px 20px 0;
    }

    .promo__title {
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 52px;
        text-align: center;
        letter-spacing: -0.04em;
        margin: 0 24px;
    }
}

@media screen and (max-width: 550px) {
    /*.promo {display: none}*/
}

@media screen and (max-width: 320px) {
    .promo {
        max-width: 292px;
        border-radius: 10px;
        margin: 14px 14px 0;
    }

    .promo__title {
        font-style: normal;
        font-weight: normal;
        font-size: 29px;
        line-height: 37px;
        margin: 0;
        padding-top: 220px;
    }

    .promo__about {
        width: 82px;
        height: 26px;
        font-size: 10px;
        line-height: 16px;
        margin-top: 212px;
    }
}
