.search {
    margin: 0 70px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.search__form {
    margin: 70px 0 0 0;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 0 15px 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
}

.search__icon {
    width: 34px;
    height: 34px;
}

.search__input {
    border: none;
    background-color: #FAFAFA;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    outline: none;
    width: 100%;
    transition: .3s;
    border-radius: 40px;
}
.search__input:focus {
    background-color: #F4F4F4;
}

.search__submit {
    border: none;
    background-color: #3456F3;
    border-radius: 48px;
    width: 58px;
    height: 34px;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    transition: .5s;
    cursor: pointer;
    outline: none;
}

.search__submit:hover {
    opacity: .5;
}

.search__filter-container {
    margin: 30px 0 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.search__filter-button {
    border: none;
    background-color: #fff;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.search__filter {
    width: 36px;
    height: 20px;
    transition: .3s;
}

.search__filter-text {
    margin: 0 0 0 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .search {
        margin: 0 30px;
    }
}

@media screen and (max-width: 320px) {
    .search {
        margin: 0 10px;
    }

    .search__icon {
        display: none;
    }

    .search__input {
        text-align: start;
        font-size: 18px;
        line-height: 22px;
    }

    .search__submit {
        width: 80px;
        height: 34px;
    }
}
