@import url(../../vendor/fonts/fonts.css);
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
}
.header__logo{
    width: 38px;
    height: 38px;
    cursor: pointer;
    transition-duration: .5s;
}
.header__logo:hover, .header__signUp:hover, .header__signIn:hover{
    opacity: .5;
}
.header__main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 18px 70px;
    width: 100%;
    justify-content: space-between;
}
.header__main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.header__signUp{
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: #FAFAFA;
    transition-duration: .5s;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
.header__signIn{
    width: 76px;
    height: 32px;
    border: none;
    background-color: #3456F3;
    border-radius: 3px;
    font-family: 'Inter', Arial sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    font-style: normal;
    color: #fff;
    margin-left: 30px;
    cursor: pointer;
    transition-duration: .5s;
}

@media screen and (max-width: 768px) {
    .header__main {
        margin: 18px 30px;
    }
}
@media screen and (max-width: 320px) {
    .header__main {
        margin: 14px 18px;
    }

    .header__signUp {
        font-size: 10px;
        line-height: 16px;
    }

    .header__signIn {
        font-size: 10px;
        line-height: 16px;
    }
}
